<div class="flex-wrap--right illustration illustration--policeman">
</div>
<img src="{{asset-path 'errors/403/403_policeman.png'}}" />
<h2>Hold on! This organization either does not exist or you do not have access to this organization.</h2>
{{outlet}}
