<div class="tabbable">
  <ul class="nav nav-tabs">
      {{#link-to 'user-profile.plans' tagName='li' href=false}}
        {{link-to 'Plans' 'user-profile.plans'}}
      {{/link-to}}

      {{#link-to 'user-profile.billing' tagName='li' href=false}}
        {{link-to 'Billing' 'user-profile.billing'}}
      {{/link-to}}
  </ul>

  <div class="">
    <div class="">
      <div class="nav-section">
        <div class="widget-body">
          {{outlet}}
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <strong>Have questions?</strong> Email us anytime at support@huboard.com
</div>
