<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="">
      {{link-to 'Plans' 'user-profile.plans'}}
    </li>

    <li class="">
      {{link-to 'Billing' 'user-profile.billing'}}
    </li>
  </ul>

  <div class="">
    <div class="">
      <div class="nav-section">
        <div class="widget-body">
          {{outlet}}
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <strong>Have questions?</strong> Email us anytime at support@huboard.com
</div>
