{{columns/hb-task-header column=model issues=sortedIssues isCollapsed=isCollapsed}}
<div class="column-contents">

{{#if isCreateVisible}}
  {{columns/hb-quick-issue
    column=model
    repo=model.board.repo
    createFullscreenIssue=(action attrs.createFullscreenIssue)
  }}
{{/if}}

{{#vertical-collection
  itemClassNames='cards sortable'
  content=sortedIssues
  tagName='div'
  as |issue|}}
    {{
      hb-task-card
        issue=issue
        issues=sortedIssues
        repos=repos
        cardClick=(action attrs.openFullscreenIssue issue)
        isLastColumn=model.isLastColumn
    }}
{{/vertical-collection}}
<div class="collapsed"></div>
</div>
