<div class="column-contents">
  {{columns/hb-milestone-header
    column=model
    issues=sortedIssues
    isCollapsed=isCollapsed
    editMilestone=(action attrs.editMilestone)
  }}

  {{#if isCreateVisible}}
    {{columns/hb-quick-issue
      column=model
      repo=model.board.repo
      createFullscreenIssue=(action attrs.createFullscreenIssue)
    }}
  {{/if}}
  <div class="cards sortable">
    {{#each visibleIssues as |issue|}}
      {{
        hb-milestone-card
          issue=issue
          issues=sortedIssues
          columns=columns
          repos=repos
          taskColumns=taskColumns
          cardClick=(action attrs.openFullscreenIssue)
      }}
    {{/each}}
  </div>
  <div class="collapsed">
    <div class="collapsed-title">
      {{model.title}}
    </div>
  </div>
</div>
