{{#if progress}}
  {{hb-spinner}}
{{/if}}

{{#unless progress}}
  {{#if flash.sticky}}
    <i class='ui-icon ui-icon-x-thin'></i>
  {{/if}}
{{/unless}}

<div class='message-copy'>{{truncate message 50}}</div>

