<h1>{{model.login}} Settings</h1>
<div class="tabbable">
  <div class="nav-section account-section">
    <div class="widget-body">
      {{x-account model=model}}
    </div>
  </div>

  <div class="nav-section billing-section">
    <div class="widget-body">
      {{x-history model=model}}
    </div>
  </div>
</div>
