<div class="fullscreen-login fullscreen-login--center">
  <h2> Your Session Has Expired! </h2>
  <div class="flex-form-top">
    <div class="well">
      <p> Log back in to renable third party access</p>
    </div>
    <a href="{{loginUrl}}" class="hb-button">Renable Third Party Access</a>
  </div>
</div>
