.hb-column-indicator {
  @include display(inline-flex);
  line-height: 16px;
  padding: 1px 6px;
  border: 1px solid $borderColor;
  border-radius: 2px;
  position: relative;
  max-width: 80px;


  &__text {
    color: $lightGrey;
    left: 3px;
    position: relative;
    display: block;
    font-size: 11px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__bar {
    @include display(inline-block);
    height: 9px;
    float:left;
    border-right: 2px solid transparent;
    border-left: 3px solid $hb-grey-light;
    margin-top: 4px;

    &.selected {
      border-left-color: $hb-purple;
      height: 11px;
      margin-top: 3px;
    }
  }

  .card-states {
    position:static;
    height: 16px;
    width: 16px;
    min-width: 16px;
    border-radius: 50%;
    margin: 1px 0px 1px 5px;

    img {
      position: relative;
      left: 3px;
      bottom: 1px;
      &.hb-state-blocked {
        left: 4px;
      }
    }

    &:after {
      display:none;
     }
  }
}

@each $state, $color in ("ready":$hb-state-ready, "blocked":$hb-state-blocked, "closed":$hb-state-closed) {
  .hb-state-#{$state} {
    .hb-column-indicator {
      border-color: $color;
      &__bar.selected {
        border-left-color: $color;
      }
    }
  }
}
