.hb-issue-status {
  &__body {
    margin-left: 34px;
    padding: 10px;
  }
}

.hb-statuses {
  background: #fff;

  > h3 {
    color: #999;
  }
  &--success{
    border: 1px solid $hb-success;
    > h3 {
      color: $hb-success; 
    }
  }
  &--failure{
    border: 1px solid $hb-failure;
    > h3 {
      color: $hb-failure; 
    }
  }
  &--error{
    border: 1px solid $hb-error;
    > h3 {
      color: $hb-error; 
    }
  }
  &--pending{
    border: 1px solid $hb-pending;
    > h3 {
      color: $hb-pending;
    }
  }
  &__status {
    background: #fafafa;
    padding: 6px 12px;
    border-top: 1px solid #ccc;
    margin: 0 -10px -10px;
  }
}

.hb-status-indicator {

    &--mega {
      float: left;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      > i {
        margin-top: 6px;
      }
    }

    &--mini {
      display: inline-block;
      height: 10px;
      width: 10px;
      margin-right: 6px;
      border-radius: 50%;
    }

    > i {
      display: block;
      margin-left: auto;
      margin-right: auto;
      color: white;
    }


    &--success{
      background-color: $hb-purple; 
    }
    &--failure{
      background-color: $hb-red; 
    }
    &--error{
      background-color: $hb-red; 
    }
    &--pending{
      background-color: #cea61b; 
    }
}
