.hb-issue-status {
  margin-left: 40px;

  li {
    list-style-type: none;
    padding-bottom: 4px;
  }
}

.hb-issue-status__mini-indicator {
  float: left;
  height: 18px;
  width: 18px;
  margin-left: -10px;
  margin-right: 10px;
  border-radius: 50%;
  > i {
    color: white;
    display: block;
    margin-top: 4px;
    margin-left: 4px;
    font-size: 10px;
  }

  &.hb-health__mini-indicator--success{
    background-color: $hb-purple; 
  }
  &.hb-health__mini-indicator--failure{
    background-color: $hb-red; 
  }
  &.hb-health__mini-indicator--error{
    background-color: $hb-red; 
  }
  &.hb-health__mini-indicator--pending{
    background-color: #cea61b; 
  }
}

.hb-issue-status__indicator {
  float: left;
  height: 30px;
  width: 30px;
  margin-left: -40px;
  border-radius: 50%;

  > i {
    color: white;
    display: block;
    margin-top: 9px;
    margin-right: auto;
    margin-left: auto;
  }
  &.hb-health__indicator--success{
    background-color: $hb-purple; 
  }
  &.hb-health__indicator--failure{
    background-color: $hb-red; 
  }
  &.hb-health__indicator--pending{
    background-color: #cea61b; 
  }
}
