.account-details {

  .credit-card, .coupon, .email {
    padding: 10px;
  }

  margin: -5px -5px 0 -5px;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}


.alert {
  .disabled {
    display: none;
  }

  form {
    margin-top: -31px;
    float: right;
    .hb-button {
      margin-top: -8px;
      margin-left: 6px;
    }
    input[disabled] {
      background-color: #7965cc;
    }
  }
}

.error-container {
  width: 100%;
  text-align: center;
  height: 100%;
  padding-top: 100px;
}

.org-item {
  display: inline-block;
  margin-right: 24px;
  padding-right: 24px;
  border: 1px solid $borderColor;
  border-radius: 4px;
}

.org-item:hover {
  background-color: $hb-purple;
  color: #fff;

  & .org-label {
    color: #fff;
  }
}

.error-policeman {
  width: 320px;
  margin: 0 auto;
}

.org-label {
  display: inline-block;
  vertical-align: middle;
  color: #4a4a4a;
}

.orgs-container {
  padding-bottom: 40px;
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
}

.org-image {
  padding-right: 8px;
}
