@import "arrow";

.main-toolbar {
  z-index: 3;
  height: 40px;
  min-height: 40px;
  line-height: 40px;
  padding: 0 36px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.2);

  @include display(flex);
  @include justify-content(space-between);
  
  .filters-clear {
    @include flex(1);
    padding: 0 12px;
  }

  .create-button {
    .hb-icon-link {
      padding: 6px;
      color: #999;
      @include transition(color .5s);
      .ui-icon {
        position: relative;
        top: 3px;
      }
      &:hover {
        color: #666;
      }
    }
  }
   a {
    &:hover {
     text-decoration: none;
    }
   }
}
.main-canvas {
  position: relative;
  @include display(flex);
  @include flex(1);
}

.board-wrapper {
  .task-board {
    @include display(flex);
    @include flex(1 1 auto);
  }
  .board {
    @extend %u-fancy-scrollbar;
    padding: 6px 24px;
    margin-bottom: 10px;
    overflow-x: auto;
    &::-webkit-scrollbar-button {
        display:block;
        height: 9px;
        width: 9px
    }
    &::-webkit-scrollbar {
        height: 12px;
        width: 12px
    }
  }
  position: relative;
  @include display(flex);
  @include flex(1);
  @include align-content(stretch);

  .board--task-board {
    @include display(flex);
    @include flex(1);
    @include align-content(stretch);
    @include align-items(baseline);
  }

  .board--milestones {
    display: block;
    white-space: nowrap;
  }

  .board {
    @extend %abso-hax;
  }
}

.column.task-column{
  .cards {
    @include flex(1 1 auto);
  }
}

.column.milestone {
  height: 100%;
  min-width: 0px;
  max-width: 230px;
  width:230px;
  display: inline-block;

  .column-contents{
    height: 100%;
    @include display(flex);
    @include flex-direction(column);
    @include flex(0 0 230px);
    min-width: 0px;
    max-width: 230px;
  }
  .cards {
    @include flex(1 1 auto);
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 1px;
    @extend %u-fancy-scrollbar;
  }
  &.hb-state-collapsed {
    @include flex(0 0 90px);
    width: 90px;
  }
  @include transition(width 0.4s ease-out);
}

.board-dragging {
  .column.milestone {
    &.hb-state-collapsed {
      .text {
        display: inline-block;
      }
    }
  }
  .collapsed {
    width: 70px;
  }

  @include transition(width 0s);
}


.container-fluid {
   padding-right: 25px;
   padding-left: 25px;
}

.column {
  vertical-align: top;
  padding: 0px 10px;
  @include box-sizing(border-box);
}

.column {
  &.hb-state-collapsed {
    input {
      visibility: hidden;
    }
  }
  .create-issue {
    @include flex(0 0 auto);
    position: relative;

    margin-bottom: 6px;
    padding: 6px;

    background: white;
    @include box-shadow(inset 0 0px 1px rgba(0,0,0, 0.3));
    border: 1px solid #e5e5e5;
    border-bottom-color: darken(#e5e5e5, 5%); 
    @include clearfix;

    .ui-icon {
      position: absolute;
      top: 6px;
      right: 4px;
      cursor: pointer;
      padding: 8px;
      color: white;
      background: $hb-purple;
      border-radius: 1px;
      opacity: 0.6;

      &:hover {
        @include box-shadow(0 0px 1px rgba(0,0,0, 0.3));
        border: 1px solid $hb-purple;
        border-bottom-color: $hb-purple-dark; 
        padding: 7px;
        opacity: 1;
      }
      &:active {
        @include box-shadow(inset 0 1px 1px $hb-purple-dark);
        border: none;
        padding: 8px;
        top: 7px;
        opacity: 1;
      }
    }


    input {
      box-sizing: border-box;
      height: auto;
      width: calc(100% - 33px);
      margin: 0;
      padding: 6px;
      outline: none;
      border: none;
      background: white;
      @include box-shadow(none);
      @include transition(all 0s);


      &:focus, &:hover {
        outline: none;
        border: none;
        background: white;
        border-bottom: 1px dashed #ccc;
        padding-bottom: 5px;
      }

    }

  }

}


.backlog { 
  white-space: nowrap;
  overflow-x: auto;
  .column {
    float: none;
    display: inline-block;
  }
}

.column .hb-column-header {
  @include flex(0 0 auto);
  line-height: 20px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #e5e5e5;
  background: #f3f3f3;

  font-size: 100%;
  @extend %font-headings;

  small {
    float:right;
    line-height: 20px;
    font-style: italic;
  }
  .hb-state-error {
    color: $hb-red;
  }
}

.hb-task-column .hb-column-header {
  @extend .arrow;
}

.column .cards {
  margin:0;
  padding: 0;
}
.backlog {
    .dim {
      opacity: 0.4;
    }
    .active {
    }
    .filter-hidden {
      cursor: default;
      border:0;
      padding:0;
      margin:0;
      height:0;
      .ember-view {
        display: none;
      }
    }
}
.board {
  @include user-select(none);
    .dim {
      opacity: 0.4;
      @include transition (opacity 0.6s, ease-out);
      @include transition (filter 0.6s, ease-out);
      @include prefixer(filter, grayscale(100%) opacity(40%));
      @include box-shadow(inset 0 0px 1px rgba(0,0,0, 0.3));
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    }
    .active {
    }

    .filter-hidden {
      cursor: default;
      padding:0;
      margin:0;
      height:0;
      border:0;
      padding-bottom: 5px;
      margin-bottom: 15px;
      .ember-view {
        display: none;
      }
      .card-header {
        display: none;
      }
      .card-labels {
        display: none;
      }

    }
    .filter-hidden + .filter-hidden {
      padding:0;
      margin:0;
    }

}

.column {
  .is-draggable {
    cursor:pointer;
  }
  .ui-sortable-helper {
    cursor: move;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: -ms-grabbing;
    cursor: grabbing;
    @include transform(rotate(3deg));
  }
}

.task-card-container{
  position: relative;
  padding-left: 4px;
}
.card {
  cursor:pointer;
  list-style: none;
  padding: 4px 5px 6px 5px;
  margin-bottom: 6px;
  position:relative;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-bottom-color: darken(#e5e5e5, 5%); 
  font-size: 13px;
  @include transform(translateZ(0));

  &.border {
    border-top-color: #e5e5e5;
    border-right-color: #e5e5e5;
    border-bottom-color: #e5e5e5;
    border-left-width: 3px;
  }

  &.assignee-accept {
     border-color: #0069D6;
  }
  &.assignee-error {
     border-color: red;
  }
  .card-labels {
    position: relative;

    .card-label-wrapper {
      float:left;
      margin-right: 5px;
      padding-bottom: 4px;
      .card-label.active.large {
        position: relative;

        padding: 0px 4px;
        font-size: 11px;

        border-style: solid;
        border-width: 1px;
        border-radius: 2px;
      }
    }
  }

  .card-header {
    @include display(flex);
    padding-bottom: 2px;
    color: $darkGrey;
    i {
      position: relative;
      padding-right: 4px;
    }

    .number {
      padding-right: 6px;
    }
    .linked-repo {
      padding-right: 6px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      i {
        top: 2px;
      }
    }
    .type {
      i {
        font-size: 14px;
        padding-right: 6px;
        color: $hb-purple;
        top: 1px;
      }
    }
  }

  .card-body {
    padding-bottom: 2px;
  }
  .milestone {
    color: $lightGrey;
    font-size:11px;
  }         
  img {
    max-width: 24px;
  }          

  .card-details-wrapper {
    position: relative;
    padding-bottom: 4px;

    i {
      padding-right: 4px;
      vertical-align: text-bottom;
    }

    .comment-count {
      color: $lightGrey;
    }

    .avatar-wrapper {
      float: right;

      &:hover {
        width: auto;

        .visible-assignees {
          @include display(inline-flex);
          @include flex-direction(row-reverse);
          .multi {
            border-left-style: none;
            padding-left: 8px;
          }
        }
      }

      .hb-avatar-tooltip {

        &.multi {
          position: relative;
          display: inline;
          float: right;
          margin-left: -6px;
          border-left-style: solid;
          border-width: 1px;
        }

        &.single {
          position: absolute;
          bottom: 0px;
          right: 0px;
          padding: 5px;
        }

        &:hover {
          p {
            right: 0px;
            white-space: nowrap;
            &:after{
              left: 66%;
            }
          }
        }
      }
    }
  }

  .hb-card-trays {
    position: relative;
    margin: 7px -6px -7px;

    .hb-card-tray {
      @include box-sizing(border-box);
      border-style: solid;
      border-width: 1px;
      background: $hb-grey-light;
      background-color: #fff;
      border-color: $hb-grey-light;
      padding: 2px 6px;
      font-size: 12px;

      &.state-closable {
        background-color: rgba(206, 166, 27, 0.1);
        border-color: $hb-pending;
        color: $hb-pending;
      }
      &.state-archive {
        background-color: rgba(130, 116, 214, 0.1);
        border-color: $hb-state-closed;
        color: $hb-state-closed;
      }
      &.state-ready {
        background-color: rgba(34, 209, 134, 0.1);
        border-color: $hb-state-ready;
        color: $hb-state-ready;
      }
      &.state-blocked {
        background-color: rgba(249, 100, 110, 0.1);
        border-color: $hb-state-blocked;
        color: $hb-state-blocked;
        i {
          font-size: 10px;
        }
      }

      &.issue-reference {
        color: $lightGrey;
        .reference-details {
          padding-right: 4px;
          float: right;
        }
        .repo-name {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
        i {
          top: 2px;
          position: relative;
          padding-right: 4px;
          &.ui-icon-branch-merge {
            font-size: 14px;
            color: $hb-purple;
          }
        }
      }
    }

    .hb-tray-button {
      background-color: white;
      float: right;
      height: 20px;
      font-size: 12px;
      line-height: 1;
      border-width: 1px;
      border-radius: 4px;

      &.state-closable {
        color: $hb-pending;
        border-color: $hb-pending;
      }
      &.state-archive {
        color: $hb-state-closed;
        border-color: $hb-state-closed;
      }
      &.state-ready {
        border-color: $hb-state-ready;
        color: $hb-state-ready;
        i {
          position: relative;
          top: 1px;
          padding-left: 4px;
        }
      }
    }
  }

  &.card--milestone {
    &.border {
      padding-left: 6px;
    }
    padding-top: 0px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    &.filter-hidden + &.filter-hidden {
      padding-bottom: 0px;
      margin-bottom: 0px;
      cursor: none;
    }
    .title {
      text-overflow: clip;
      white-space: normal;
      overflow: auto;
    }
    .hb-avatar-tooltip {
      &:hover {
        p {
          display: inline-table;
          visibility: visible;
        }
      }
      p {
        bottom: 42px;
        top: 5px;
        left: 34px;
        line-height: 16px;
        &:after {
          content: "\25C0";
          color: $hb-purple;
          left: -6px;
          bottom: 1px;
        }
      }
      display: inline;
      img {
        position: static;
      }
    }
    .card-header {
      border-bottom: none;
      padding: 5px 0px;
    }
    .card-labels {
      padding: 5px 0px;
      position: absolute;
      bottom: auto;
      top: -8px;
      .card-label-wrapper {
        float:left;
        padding-bottom: 0px;
        margin-right: 5px;
        .card-label {
          z-index: 10;
        }
        .card-label.active.small {
          height: 4px;
          width: 40px;
          display:block;
        }
        .card-label.active.large {
          position: relative;
          top: 6px;

          display: none;
        }
      }
      &:hover {
        .card-label.active.small {
          display: none;
        }
        .card-label.active.large {
          display:block;
        }
      }
    }
  }
}



.card a.close {
  position: absolute;
  top: 12px;
  right: 6px;
  width: 16px;
  opacity:0.0;
}
.card:hover a.close {
  opacity:0.3;
}
.card a.close:hover {
  opacity:0.5;
}

.card a small {
  color: $lightGrey;
  padding-right:2px;
}

.column .ui-sortable-placeholder {
  background: $borderColor;
  list-style: none;
  border: 1px dotted $hb-purple;
  margin-bottom: 10px;
  * {
    visibility: hidden;
  }
}
.column.ui-sortable-hover, .cards.hovering {
  background: #efefef;
}



.filters {
  list-style: none;
  margin:0;
  padding:0 20px 0 0;
}

.filters li {
  margin-bottom: 10px;
  background: #fff;
  border-radius: 4px;
}

.filters li.colored a {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left-style: solid;
  border-left-width: 3px;
}

.filters li.-x7965cc a{
  border-left-color: #7965cc;
}

.filters li.clear-filters, .filters li.clear-filters a {
  background: none;
  color:$grey;
}
.filters li.clear-filters {
  border-radius: 0;
  border-bottom: 1px solid $darkGrey;
}
.filters li.clear-filters a:hover {
  color:$grey;
}

.filters li a {
  position:relative;
  padding: 10px;
  display:block;
  padding-right:25px;
  text-decoration: none;
  border-radius: 4px;
  color:#777;
}

.filters li a strong { 
  position: absolute;
  top:12px;
  right:10px;
}

.filter a.active, .filter a.active:hover {
  background-color: $hb-purple;
  color: #fff;
}
.filter a.dim, .filter a.dim:hover {
  background-color: $hb-purple;
  background-color: rgba($hb-purple,0.6);
  color: #fff;

}

.filter {

  .ui-icon {
    // start: UX Experiment 
    display:none;
    // end: UX Experiment 

    position: absolute;
    top: 13px;
    right: 3px;
    width: 22px;
    display:none;
    opacity: 0.8;
    &:hover {
      opacity: 1;

    }
  }
  a:hover {
    background-color:#efefef;
  }

  .dim:hover, .active:hover { 
    .ui-icon {
      display:inline;
      // start: UX Experiment 
      display:none;
      // end: UX Experiment 
    }
  }
}
.column.no-milestone {
  margin: -6px 6px -6px 0;
  padding: 6px 16px 6px 10px;
  border-right: 1px solid #ddd;
}

.task-column {
  float:none;
  @include flex(1);
  @include display(flex);
  @include flex-direction(column);
  @include transition(all 0.4s ease-out);
}
.column {
  min-width: 250px;
  //@include transition(all 0.4s ease-out);
  .hb-column-header {
    cursor: pointer;
  }
  &.hb-state-collapsed {
    min-width: 90px;
  }
  .collapsed {
    cursor: pointer;
    display: none;
    background: #f3f3f3;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    @include flex(1);

  }

  .hb-column-header {
    .ui-icon {
      color: #999;
      opacity: 0.5;
      padding: 0px 2px;
    }
    .ui-icon-plus {
      display:none;
    }
  }
  &.hb-state-collapsed {
    @include flex(1 0 80px);
    .hb-column-header .ui-icon-plus { display:inline; }
    .collapsed {
      @include display(flex);
    }
    .hb-column-header span, .hb-column-header .ui-icon-minus, .hb-column-header small {
      display:none;
    }

    .cards {
      @include flex(0 1 auto !important);
      min-height: 0;
      border:0;
      padding: 0;
      margin: 0;
      width: 0;
      height: 0;
      .card {
        border:0;
        padding: 0;
        margin: 0;
        width: 0;
        height: 0;
        > div {
          display:none;
        }
      }
    }

  }
  &.hb-state-collapsed {
    @include flex(0 1 auto);
    width: 90px;
    .hb-column-header .ui-icon-plus { display:inline; }
    .collapsed {
      display: block;
    }
   .hb-column-header span, .hb-column-header .ui-icon-minus, .hb-column-header small, .hb-column-header .ui-icon-gear {
      display:none;
    }
  }
  &.hb-state-collapsed.hovering {
      @include flex(1);
      width: auto;
      .collapsed {
        display: none;
      }
      ul {
        display:block;
      }
   }
}
@media only screen and (max-width: 959px) {
  .board {
    .task-board {
      @include flex-direction(column);
    }
    .column {
      @include flex(0 1 auto);
      max-width: 959px;

      .sortable {
        min-height: 72px;
      }

      &.hb-state-collapsed {
        width: auto;

        > h3 span,  > h3 small {
          display:inline;
        }
        .sortable {
          min-height: 0;
        }

       
        &.hovering {
          ul {
            display:none;
          }
        }
        .collapsed {
          display:none;
        }
        
      }
    }
  }
}
