
.vcard {
   img {
      @include box-sizing(border-box);
   }
   h1 {
    small {
     display:block;
    }
   }
}

.repo {
  .icon {
    line-height: 20px;

    &.public {
      color: #7cc45c;
      color: rgba(#7cc45c, 0.7);
      
    }
    &.private {
      color:#ee9c49;
      color:rgba(#ee9c49, 0.7);
    }
  }

}

ul.repos, ul.repos li {
  list-style: none;
  margin: 0;
}
ul.repos li {
  margin: 0 0 8px 0;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}
ul.repos li:last-child {
  border:0;
  margin-bottom: 3px;
}
ul.repos li a {
 float:right;
 padding-top: 30px;
 position:relative;
 margin: 0 3px;
}
ul.repos li > span a {
  float:none;
}
ul.repos li a span {
 color: gray;
}
ul.repos li > span {
  font-size:1.4em;
}
ul.repos li a strong {
  font-size:2em;
  position:absolute;
  top:3px;
  left:10%;
}
ul.repos li a.btn {
 padding-top: 7px;
 margin-top:7px;
}

.repo-list {
  .label {
    &.label-success {
      padding: 4px;
    }
    &.label-warning {
      padding: 4px;
    }
  }
}

.dashboard--alert {
  h5 {
    i.ui-icon-alert {
      position: relative;
      top: 1px;
      color: #ee9c49;
    }
  }
  &.public-only-hero {
    position: relative;
    bottom: 10px;
    text-align: center;
  }
  &.alert {
    display: block;
    margin-bottom: 0px;
  }
}

//Tooltip Mojo taken from http://stackoverflow.com/questions/1055581/how-do-i-add-a-tool-tip-to-a-span-element
[data-repo-list-tooltip] {
    display: inline-block;
    position: relative;
    padding: 4px;
}
[data-repo-list-tooltip]:before {
    content: attr(data-repo-list-tooltip);
    display: none;
    position: absolute;
    background: $hb-purple;
    color: white;
    padding: 4px 8px;
    font-size: 10px;
    line-height: 1.4;
    min-width: 120px;
    text-align: center;
    border-radius: 4px;
    white-space: normal;
}

/* Dynamic horizontal centering */
[data-repo-list-tooltip-position="top"]:before,
[data-repo-list-tooltip-position="bottom"]:before {
    left: 50%;
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
[data-repo-list-tooltip-position="top"]:before {
    bottom: 100%;
    margin-bottom: 6px;
}

/* Tooltip arrow styling/placement */
[data-repo-list-tooltip]:after {
    content: '';
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
/* Dynamic horizontal centering for the tooltip */
[data-repo-list-tooltip-position="top"]:after,
[data-repo-list-tooltip-position="bottom"]:after {
    left: 50%;
    margin-left: -6px;
}
[data-repo-list-tooltip-position="top"]:after {
    bottom: 100%;
    border-width: 6px 6px 0;
    border-top-color: $hb-purple;
}
/* Show the tooltip when hovering */
[data-repo-list-tooltip]:hover:before,
[data-repo-list-tooltip]:hover:after {
    display: block;
    z-index: 50;
}
