<div class="fullscreen-overlay fixed">
  <div class="fullscreen-wrapper">
    <div class="fullscreen-body {{view.modalSize}}">
      {{#unless view.lockedModal}}
        <i class="ui-icon ui-icon-x-thin modal-close"></i>
      {{/unless}}
      {{yield}}
    </div>
  </div>
</div>
